# Ignore compiled output and generated font wrapper files
build/
src/api/lang/NotoSans*.js

src/forms/SummaryForm.jsx
src/api/api.jsx
src/pages/Eligibility.jsx
src/forms/GeriMobilityTabs/GeriPtConsultForm.jsx
src/forms/GeriMobilityTabs/GeriOtConsultForm.jsx