.fieldPadding { 
  display: flex; 
  flex-direction: column;
  padding: 5px 15px 15px 15px;
}
.question--text {
  margin-bottom: -3px;
}
.form--div {
  h2 {
    margin-bottom: -3px;
  }
  h3 {
    margin-bottom: -3px;
  }
  h4 {
    margin-bottom: -3px;
  }
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .underlined {
    text-decoration: underline;
  }
  .left-margin {
    margin-left: 10px;
  }
  .remove-top-margin {
    margin-top: -5px;
  }
  .increase-top-margin {
    margin-top: 3px;
  }
  .decrease-left-margin {
    margin-left: -3px;
  }
}
.paragraph--title {
  margin-bottom: 5px;
  margin-top: 5px;
}
.paragraph--text {
  margin-top: 1px;
}
.summary--red-text {
   margin-top: 2px;
   padding-bottom: 2px;
   color: red;
  font-size: 14px;
}
.summary--blue-text {
   padding-top: 2px;
   padding-bottom: 2px;
   color: blue;
   font-size: 14.5px;
}
.summary--question-div {
  h2 {
    margin-bottom: -3px;
  } 
  h3 {
    margin--bottom: -3px;
  }
  .underlined {
    padding-bottom: 3px;
    padding-top: 3px;
    text-decoration: underline;
    font-size: 17px;
  }
  .blue {
    padding-top: 2px;
    padding-bottom: 2px;
    color: blue;
    font-size: 14.5px;
  }
  .red {
    margin-top: 2px;
    padding-bottom: 2px;
    color: red;
    font-size: 14px;
  }
}

